kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  name: openshift-mini-console
  namespace: omc-app
spec:
  runPolicy: Serial
  source:
    type: Dockerfile
    dockerfile: |
      FROM registry.access.redhat.com/ubi8/python-38
      USER 0
      RUN pip install --upgrade pip && \
        pip install flask && \
        pip install kubernetes && \
        mkdir -p /usr/src/app && \
        git clone -b v1.0 https://github.com/sa-ne/openshift-mini-console.git /usr/src/app
      USER 1001
      WORKDIR /usr/src/app
      EXPOSE 5000
      ENTRYPOINT ["python", "-m", "flask", "run", "-h", "0.0.0.0"]
  strategy:
    type: Docker
    dockerStrategy:
      from:
        kind: DockerImage
        name: registry.access.redhat.com/ubi8/python-38
  triggers:
    - type: ConfigChange
  output:
    to:
      kind: ImageStreamTag
      name: openshift-mini-console:v1.0
